fdly.li

respond "Hello, world"

redir /buy https://www.amazon.com/Friendly-Guide-Software-Development-Technology/dp/1484289684
redir /venda https://www.amazon.com.br/Friendly-Guide-Software-Development-Developer/dp/1484289684

redir /author https://leportella.com temporary
redir /01-01 https://www.forbes.com/sites/techonomy/2011/11/30/now-every-company-is-a-software-company/ temporary
redir /01-01 https://www.weforum.org/reports/the-future-of-jobs-report-2020 temporary
redir /02-01 https://hbr.org/2011/08/henry-ford-never-said-the-fast temporary
redir /02-02 https://www.youtube.com/watch?v=MT4Ig2uqjTc temporary
redir /02-03 https://www.pmi.org/learning/library/beyond-agility-gymnastic-enterprises-12973 temporary
redir /02-04 https://www.oreilly.com/library/view/ux-research/9781491951286/ temporary
redir /02-05 https://www.ycombinator.com/library/6g-how-to-talk-to-users temporary
redir /02-06 https://www.oreilly.com/library/view/the-user-is/0321449924/ temporary
redir /02-07 https://www.gv.com/sprint/ temporary
redir /02-08 http://momtestbook.com/ temporary
redir /02-09 https://caroli.org/en/livro/lean-inception-how-to-align-people-and-build-the-right-product/ temporary
redir /03-01 https://en.wikipedia.org/wiki/Usage_share_of_operating_systems temporary
redir /03-02 https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains temporary
redir /03-03 https://www.internetlivestats.com/total-number-of-websites/ temporary
redir /03-04 https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00-introduction-to-computer-science-and-programming-fall-2008/ temporary
redir /03-05 https://en.wikipedia.org/wiki/Software_bug temporary
redir /03-06 https://youtu.be/tpIctyqH29Q temporary
redir /03-07 https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/ temporary
redir /04-01 https://howdns.works/ temporary
redir /04-02 https://wizardzines.com/zines/http/ temporary

redir /05-01 https://www.who.int/en/news-room/fact-sheets/detail/disability-and-health temporary
redir /05-02 https://codepen.io/ivorjetski/pen/xxGYWQG temporary
redir /05-03 https://stackoverflow.com/a/2964212/3538098 temporary
redir /05-04 http://vanilla-js.com/ temporary
redir /05-05 https://roadmap.sh/frontend temporary
redir /05-06 https://insights.stackoverflow.com/survey temporary
redir /05-07 https://developer.mozilla.org/en-US/docs/Web temporary
redir /05-08 https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility temporary
redir /05-09 https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML temporary

redir /06-01 https://anapioficeandfire.com/ temporary
redir /06-02 https://swapi.dev/ temporary
redir /06-03 https://roadmap.sh/backend temporary
redir /06-04 https://www.mongodb.com/nosql-explained/nosql-vs-sql temporary
redir /06-05 https://www.oreilly.com/library/view/relational-theory-for/9781449365431/ temporary

redir /07-01 https://www.scriptol.com/programming/hello-world.php temporary
redir /07-02 https://homepages.ecs.vuw.ac.nz/~craig/publications/vlhcc2018-pang.pdf temporary
redir /07-03 https://www.researchgate.net/publication/262250925_Empirical_Analysis_of_Programming_Language_Adoption temporary 
redir /07-04 https://www.wired.com/story/log4j-flaw-hacking-internet/ temporary
redir /07-05 https://www.researchgate.net/profile/Yishan_Li/publication/261079289_A_performance_comparison_of_SQL_and_NoSQL_databases/links/564fbcf708aeafc2aab3ff73.pdf temporary
redir /python https://python.org.br/ temporary
redir /django https://www.djangoproject.com temporary
redir /07-06 https://hackernoon.com/how-to-choose-a-framework-ea8b5b1e1f44 temporary
redir /07-07 https://betterprogramming.pub/how-to-choose-a-programming-language-for-a-project-7c7a3e5a4de6 temporary
redir /07-08 https://dataintensive.net/ temporary
redir /07-09 https://martinfowler.com/bliki/MonolithFirst.html temporary

redir /08-01 https://twitter.com/benrady/status/817430925176958977 temporary
redir /08-02 http://agilemanifesto.org/ temporary
redir /08-03 https://www.youtube.com/watch?v=a-BOSpxYJ9M temporary
redir /08-04 https://www.oreilly.com/library/view/lean-software-development/0321150783/ temporary
redir /08-05 https://martinfowler.com/articles/on-pair-programming.html temporary
redir /phoenix https://itrevolution.com/the-phoenix-project/ temporary
redir /08-06 https://www.youtube.com/watch?v=Yvfz4HGtoPc temporary
redir /08-07 https://harness.io/blog/continuous-delivery-vs-continuous-deployment temporary
redir /08-08 https://www.cnbc.com/2020/08/24/tiktok-reveals-us-global-user-growth-numbers-for-first-time.html temporary

redir /09-01 https://stackoverflow.com/questions/876089/who-wrote-this-programing-saying-always-code-as-if-the-guy-who-ends-up-maintai temporary
redir /09-02 https://skeptics.stackexchange.com/questions/19836/has-phil-karlton-ever-said-there-are-only-two-hard-things-in-computer-science temporary
redir /09-03 https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/ICSE202013-codereview.pdf temporary
redir /09-04 https://www.oreilly.com/library/view/frontend-architecture-for/9781491926772/ temporary
redir /the-nature https://pragprog.com/titles/rjnsd/the-nature-of-software-development/ temporary
redir /09-06 https://martinfowler.com/articles/is-quality-worth-cost.html temporary
redir /09-07 https://www.youtube.com/watch?v=t4vKPhjcMZg temporary
redir /09-08 https://docsfordevelopers.com/ temporary
redir /09-09 https://devchecklists.com/user-documentation-checklists/ temporary

redir /10-01 https://en.wikipedia.org/wiki/Trust,_but_verify temporary
redir /10-02 https://store.increment.com/products/issue-10-testing temporary
redir /10-03 https://store.increment.com/products/issue-3-development temporary
redir /10-04 https://www.oreilly.com/library/view/building-software-teams/9781491951781/ temporary
redir /10-05 https://www.oreilly.com/library/view/software-engineering-at/9781492082781/ temporary
redir /10-06 https://increment.com/chapter_10/testing-as-communication/ temporary

redir /11-01 https://wondernetwork.com/pings/ temporary
redir /11-02 https://www.washingtonpost.com/outlook/2019/12/30/lessons-yk-years-later/ temporary
redir /11-03 https://www.reddit.com/r/cscareerquestions/comments/6ez8ag/accidentally_destroyed_production_database_on/ temporary
redir /11-04 https://netflix.github.io/chaosmonkey/ temporary
redir /11-05 https://store.increment.com/products/issue-1-on-call temporary
redir /11-06 https://www.youtube.com/watch?v=oQL4s01QbbU temporary
redir /11-07 https://devchecklists.com/critical-incidents-checklist/ temporary
redir /11-08 https://about.gitlab.com/blog/2017/02/10/postmortem-of-database-outage-of-january-31/ temporary
redir /11-09 https://www.reddit.com/r/cscareerquestions/comments/6ez8ag/accidentally_destroyed_production_database_on/ temporary
redir /11-10 https://www.atlassian.com/incident-management temporary
redir /11-11 https://www.youtube.com/watch?v=30jNsCVLpAE temporary

redir /12-01 https://en.wikipedia.org/wiki/Broken_windows_theory temporary
redir /12-02 https://www.youtube.com/watch?v=fl4aZ2KXBsQ temporary
redir /12-03 https://www.youtube.com/watch?v=pqeJFYwnkjE temporary
redir /12-04 https://www.forbes.com/sites/forbestechcouncil/2018/06/01/10-challenges-to-think-about-when-upgrading-from-legacy-systems/ temporary
redir /12-05 https://www.youtube.com/watch?v=fl4aZ2KXBsQ temporary
redir /12-06 https://www.packtpub.com/product/working-with-legacy-systems/9781838982560 temporary 

redir /13-01 https://www.ics.uci.edu/~gmark/chi08-mark.pdf temporary
redir /13-02 https://pubs.aeaweb.org/doi/pdfplus/10.1257/aer.20141734 temporary
redir /13-03 https://rework.withgoogle.com/blog/five-keys-to-a-successful-google-team/ temporary
redir /13-04 https://erinmeyer.com/books/the-culture-map/ temporary
redir /13-05 https://www.youtube.com/watch?v=RtMmxqkPVug temporary
redir /13-06 https://hbr.org/2021/10/5-things-high-performing-teams-do-differently temporary
redir /13-07 https://www.pcusa.org/site_media/media/uploads/vocation/pdf/how_diversity_makes_us_smarter_scientificamerican_sept_16_2014.pdf  temporary
redir /13-08 https://www0.gsb.columbia.edu/mygsb/faculty/research/pubfiles/3063/female_representation.pdf  temporary

redir /14-01 https://ask.metafilter.com/62762/What-is-the-source-of-this-quote-about-experience temporary
redir /14-02 https://qr.ae/pGdBGh temporary
redir /14-03 https://avichal.com/2011/12/16/focus-on-building-10x-teams-not-on-hiring-10x-developers/ temporary
redir /14-04 https://www.youtube.com/watch?v=kcSWsvvJ0fQ temporary
redir /14-05 https://hbr.org/2018/10/managing-a-data-science-team temporary
redir /14-06 https://jvns.ca/wizard-zine.pdf temporary
redir /14-07 https://staffeng.com/ temporary
redir /14-08 https://dev.to/isaacdlyman/if-you-dont-hire-juniors-you-dont-deserve-seniors-48kb temporary

redir /15-01 https://charity.wtf/2017/05/11/the-engineer-manager-pendulum/ temporary
redir /15-02 https://medium.com/atlassian-product-management-blog/product-managers-make-all-the-decisions-right-87ea80beb37a temporary
redir /15-03 https://newsletter.pragmaticengineer.com/p/what-tpms-do? temporary
redir /15-04 https://www.bringthedonuts.com/essays/productmanager.html temporary
redir /15-05 https://www.bringthedonuts.com/newsletter/product-manager-technical-enough.html temporary
redir /15-06 https://www.oreilly.com/library/view/the-managers-path/9781491973882/ temporary
redir /15-07 https://wizardzines.gumroad.com/l/manager-zine temporary
redir /15-08 http://www.engineeringladders.com/TechLead-EngineeringManager.html temporary

redir /state-agile-2020 https://info.digital.ai/rs/981-LQX-968/images/SOA14.pdf temporary
redir /glue https://noidea.dog/glue temporary
redir /fast-slow https://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow temporary
